.movie-summary{
  width: 500px;
 }

 .movie-container{
  
  width:  340px;
  margin: 20px;
   /* background-color: orange; */
 
   
 }

 .movie-poster{
  object-fit: cover;
   height:500px;
  width: 340px;
 }
 .movie-rating{
  font-size: 20px;
 
 }
 .movie-name{
  text-align: center;
 }

 .movie-specs{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .movie-summary{
  font-size: 20px;
  width: 340px;
 }

 .movie-list{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
   
 }

 